                <footer class="mt-5" style="background-color: #3c3c3c">
    	            <div class="container">
        	            <div class="row" style="height: 50px; vertical-align: middle; align-items: center;">
    			            <div class="ml-3 mb-0" style="color: #eaeaea;" > ©2018 NODEJS TEMP. </div>
                		</div>
    		            <div class="row" style="height: 50px; vertical-align: top; align-items: top;" id="footer-section-more">
    			            <a href="javascript:;">
    			                <div class="ml-3 mt-0" style="color: #eaeaea;" onclick="$('#suggestionModal').modal('show');"> 건의 / 게시판 개설요청 / 버그신고 </div>
    			            </a>
    		            </div>
    	            </div>
                </footer>
            </main>
        </div>
        <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/dist/popper.min.js"></script>
        <script src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/assets/vendor/stacked-menu/dist/js/stacked-menu.min.js"></script>
        <script src="/assets/vendor/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
        <script src="/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
        <script src="/js/main.min.js"></script>
    </body>
</html>